<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ass2.i190666_i192152">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I190666"
        tools:targetApi="31">
        <activity
            android:name="com.ass2.i190666_i192152.DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.I190666.NoActionBar" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity21"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity20"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity19"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity18"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity17"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity16"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity15"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity14"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity13"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity12"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity11"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity10"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity9"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity8"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity7"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity6"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity5"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity4"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity3"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity2"
            android:exported="false" />
        <activity
            android:name="com.ass2.i190666_i192152.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>